.container {
  max-width: 900px; }
.header {
  margin-top: 6rem;
  margin-bottom: 4rem;
 }
.docs-header {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #A8A8A8;
  padding: 3rem 0;
  margin-bottom: 0;
}
.grid .column,
.grid .columns,
.contactrow .columns{
  text-align: center;
  border-radius: 4px;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 15px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .2rem; }
.docs-grid .row,
.docs-grid.row,
.docs-grid form {
  margin-bottom: 0;
  margin-top: 1rem;}
.docs-grid h1,
.docs-grid h2,
.docs-grid h3,
.docs-grid h4,
.docs-grid h5,
.docs-grid h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.navbar {
  display: none;
}

/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 20rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .grid .column,
  .grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 5rem 0; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #A8A8A8;
    border-bottom: 1px solid #A8A8A8; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    float: right;}
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 20px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #7EC5C9; }
  .navbar-link.active {
    color: #A8A8A8; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }
}
    
/* Elements fade in on scroll */
.fadein {
    opacity: 0;
}

/* Styling for personal photo */
#headshot {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    width: 150px;
    display: inline-block;
    position: relative;
    padding: 8px;
}

/* Skills bars */
.skills-bar-container {
    position: relative;
    width: 40%;
    min-width: 250px;
    margin: 5% auto;
    list-style: none;
}

.skills-bar-container li {
    background: #888;
    position: relative;
    width: 100%;
    height: 3px;
    margin-bottom: 35px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.skills-bar-container label {
    color: #666666;
    position: relative;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 300;
}

.progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#progress-htmlcss {
    -webkit-animation-name: progress-htmlcss;
    animation-name: progress-htmlcss;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-jsjq {
    -webkit-animation-name: progress-jsjq;
    animation-name: progress-jsjq;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-ror {
    -webkit-animation-name: progress-ror;
    animation-name: progress-ror;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

#progress-java {
    -webkit-animation-name: progress-java;
    animation-name: progress-java;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

#progress-csharp {
    -webkit-animation-name: progress-csharp;
    animation-name: progress-csharp;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

#progress-sql {
    -webkit-animation-name: progress-sql;
    animation-name: progress-sql;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.progressblue {
    background-color: #7EC5C9;
}

@-webkit-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@-webkit-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@-webkit-keyframes progress-ror {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
@-webkit-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
@-webkit-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@-webkit-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@-moz-keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@-moz-keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@-moz-keyframes progress-ror {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
@-moz-keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
@-moz-keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@-moz-keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

@keyframes progress-htmlcss {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}
@keyframes progress-jsjq {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@keyframes progress-ror {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}
@keyframes progress-java {
    0% {
        width: 0%;
    }
    100% {
        width: 75%;
    }
}
@keyframes progress-csharp {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}
@keyframes progress-sql {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}