body {
    position: relative;
}

.navbar-fixed-top {
    padding-top: 10px;
    background-color: #fff;
}

.navbar-fixed-top a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar-fixed-top li {
    display: inline;
}

.jumbotron {
    background-image: url("../img/banner.jpg");
    max-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top: 10px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}

.jumbotron a {
    text-decoration: none;
    color: #fff;
}

.jumbotron a: hover {
    text-decoration: none;
}

.social {
    margin-bottom: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 10px;
    list-style: none outside none;
    display: inline-block;
}

.social .fa-facebook:hover { 
    color: #3b5998;
}

.social .fa-instagram:hover {
    color: #3f729b;
}

.social .fa-linkedin:hover {
    color: #0077b5;
}

.social .fa-github:hover {
    color: #6441a5;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #393c3d;
}

.learn-more h2 {
    color: #393c3d;
    font-size: 28px;
}

.learn-more h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.learn-more a {
    color: #00b0ff;
}

.learn-more a:hover {
    text-decoration: none !important;
}

.more-information {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.more-information h2 {
    color: #393c3d;
    font-size: 28px;
}

.more-information p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #393c3d;
}